.typing-effect {
  overflow: hidden;
  color: orange;
  border-right: 0.15em solid orange; /* Cursor efek */
  white-space: nowrap; /* Jangan bungkus teks */
  animation: blink-caret 0.75s step-end infinite; /* Animasi berkedip */
}

/* Efek berkedip untuk cursor */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
